n8n-workflows/telegram-blog-publisher-ai-agent.json
{
  "name": "Projectview — Telegram Blog Publisher (AI Agent)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 340],
      "webhookId": "projectview-blog-telegram",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Projectview Telegram Bot"
        }
      },
      "notes": "Listens to all incoming messages from your Telegram bot. Create a bot via @BotFather and paste the token in n8n Telegram credentials."
    },
    {
      "parameters": {
        "jsCode": "// Prepare the input for the AI Agent\nconst message = $json.message;\nconst chatId = message.chat.id;\nconst text = message.text || '';\n\n// Retrieve any existing draft from static data\nconst staticData = $getWorkflowStaticData('global');\nconst draftKey = 'draft_' + chatId;\nconst existingDraft = staticData[draftKey] || null;\n\nlet context = '';\nif (existingDraft) {\n  context = '\\n\\n[BROUILLON EN COURS]:\\n' + existingDraft;\n}\n\nreturn [{\n  json: {\n    chatInput: text + context,\n    chatId: chatId,\n    hasDraft: !!existingDraft\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 340],
      "notes": "Extracts chat ID and message text. Attaches any existing draft from static data as context for the AI Agent."
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Tu es l'assistant blog de **Projectview.fr**, une entreprise francaise qui transforme les espaces physiques en experiences interactives (ecrans tactiles, affichage dynamique, VR, collaboration, IA).\n\nTon role : aider l'utilisateur a creer, modifier et publier des articles de blog via Telegram.\n\n---\n\n**REGLES DE CONVERSATION :**\n\n1. Si l'utilisateur envoie /start ou /help, reponds avec un message d'accueil qui explique comment ca marche (envoyer un sujet, modifier, valider pour publier, annuler).\n\n2. Si l'utilisateur envoie un sujet ou une idee d'article, redige un article complet et appelle l'outil `save_draft` avec l'article au format JSON.\n\n3. Si l'utilisateur dit \"modifier\" suivi d'instructions, recupere le brouillon existant depuis le contexte [BROUILLON EN COURS], applique les modifications et appelle `save_draft` avec la version corrigee.\n\n4. Si l'utilisateur dit \"ok\", \"publier\", \"oui\", ou \"go\", appelle l'outil `publish_article` pour publier le brouillon.\n\n5. Si l'utilisateur dit \"annuler\", appelle l'outil `cancel_draft` pour supprimer le brouillon.\n\n---\n\n**REGLES DE REDACTION :**\n- Langue : Francais impeccable, ton professionnel mais accessible\n- Structure : Titre accrocheur, introduction percutante, 3-4 sections avec sous-titres, conclusion avec appel a l'action\n- Longueur : 600-1000 mots\n- Style : Informatif, pas commercial. Apporter de la valeur au lecteur.\n- Public cible : Directeurs marketing, responsables innovation, architectes, promoteurs immobiliers, retailers\n- SEO : Integrer naturellement les mots-cles pertinents\n\n**FORMAT JSON OBLIGATOIRE pour save_draft :**\n{\n  \"title\": \"Titre de l'article\",\n  \"slug\": \"titre-en-minuscules-sans-accents\",\n  \"excerpt\": \"Resume de 1-2 phrases\",\n  \"content\": \"Contenu complet avec ## pour les titres. Paragraphes separes par des sauts de ligne.\",\n  \"category\": \"Nom de la categorie\",\n  \"categorySlug\": \"slug-categorie\",\n  \"author\": \"Nom de l'auteur\",\n  \"authorBio\": \"Bio courte de l'auteur\",\n  \"readTime\": \"X min\"\n}\n\n**Categories valides :**\n- Affichage Dynamique -> affichage-dynamique\n- Collaboration -> collaboration\n- Presentation Innovante -> presentation-innovante\n- Assistant IA -> assistant-ia\n- Tendances -> tendances\n\n**Auteurs disponibles :**\n- Sophie Martin — Experte en solutions d'affichage dynamique chez Projectview\n- Thomas Bernard — Directeur technique et passionne de realite virtuelle\n- Claire Rousseau — Specialiste IA et automatisation chez Projectview\n- Pierre Lefevre — Consultant en transformation digitale des espaces de travail\n\nChoisis l'auteur le plus pertinent pour le sujet.\n\n---\n\n**APRES save_draft**, reponds a l'utilisateur avec un apercu formate du brouillon (titre, categorie, auteur, temps de lecture, resume, contenu) et propose les options : Publier / Modifier / Annuler.\n\n**APRES publish_article**, confirme la publication avec le lien projectview.fr/blog/[slug].\n\n**APRES cancel_draft**, confirme la suppression et propose de recommencer."
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 340],
      "notes": "Tools Agent — handles all conversation logic: writing articles, modifications, publishing, canceling. Connected to OpenAI GPT-4o, Window Buffer Memory, and 3 custom tools."
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Input').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 340],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Projectview Telegram Bot"
        }
      },
      "notes": "Sends the AI Agent's response back to the user on Telegram."
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 560],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIALS_ID",
          "name": "OpenAI"
        }
      },
      "notes": "GPT-4o for high-quality French article generation. Replace credentials ID with your own."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Input').item.json.chatId }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [700, 560],
      "notes": "Remembers conversation context per Telegram chat ID. The agent can reference previous messages for modifications."
    },
    {
      "parameters": {
        "name": "save_draft",
        "description": "Sauvegarde un brouillon d'article. Appelez cet outil quand vous avez redige ou modifie un article. Le parametre 'articleJson' doit contenir l'article complet au format JSON avec les champs : title, slug, excerpt, content, category, categorySlug, author, authorBio, readTime.",
        "jsCode": "// Save draft tool — stores the article JSON in n8n static data\n// IMPORTANT: toolCode must return a plain string, NOT an object/array\nconst input = $input.all()[0].json;\nlet articleJson = input.articleJson || input.query || '';\n\n// Parse the article JSON\nlet article;\ntry {\n  if (typeof articleJson === 'string') {\n    // Strip markdown code fences if present\n    const fenceMatch = articleJson.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (fenceMatch) articleJson = fenceMatch[1].trim();\n    article = JSON.parse(articleJson);\n  } else {\n    article = articleJson;\n  }\n} catch (e) {\n  const objectMatch = String(articleJson).match(/\\{[\\s\\S]*\\}/);\n  if (objectMatch) {\n    article = JSON.parse(objectMatch[0]);\n  } else {\n    return 'ERREUR: JSON invalide. Verifiez le format de l article.';\n  }\n}\n\n// Validate required fields\nconst required = ['title', 'slug', 'excerpt', 'content', 'category', 'categorySlug', 'author', 'readTime'];\nfor (const f of required) {\n  if (!article[f]) {\n    return 'ERREUR: Champ manquant : ' + f;\n  }\n}\n\n// Clean slug\narticle.slug = article.slug\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9-]/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// Set date in French format\nconst now = new Date();\nconst months = ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aout', 'Sep', 'Oct', 'Nov', 'Dec'];\narticle.date = `${now.getDate()} ${months[now.getMonth()]} ${now.getFullYear()}`;\n\n// Default author bio if missing\nif (!article.authorBio) {\n  const bios = {\n    'Sophie Martin': \"Experte en solutions d'affichage dynamique chez Projectview\",\n    'Thomas Bernard': 'Directeur technique et passionne de realite virtuelle',\n    'Claire Rousseau': 'Specialiste IA et automatisation chez Projectview',\n    'Pierre Lefevre': 'Consultant en transformation digitale des espaces de travail'\n  };\n  article.authorBio = bios[article.author] || 'Expert chez Projectview';\n}\n\n// Store in static data\nconst chatId = $('Prepare Input').item.json.chatId;\nconst staticData = $getWorkflowStaticData('global');\nstaticData['draft_' + chatId] = JSON.stringify(article);\n\nreturn 'Brouillon sauvegarde avec succes. Titre: \"' + article.title + '\", Slug: ' + article.slug + ', Categorie: ' + article.category + ', Auteur: ' + article.author + ', Lecture: ' + article.readTime;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000020",
      "name": "Save Draft Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [880, 560],
      "notes": "Custom code tool: parses article JSON, validates fields, cleans slug, adds French date, stores in n8n static data."
    },
    {
      "parameters": {
        "name": "publish_article",
        "description": "Publie l'article brouillon sur le site web. Appelez cet outil quand l'utilisateur confirme la publication (ok, publier, oui, go). Cet outil recupere le brouillon stocke, le pousse sur GitHub dans le fichier fallback-data.ts, et declenche un deploiement Netlify. Aucun parametre requis.",
        "jsCode": "// Publish tool — gets draft, pushes to GitHub, triggers Netlify\n// IMPORTANT: toolCode must return a plain string, NOT an object/array\nconst chatId = $('Prepare Input').item.json.chatId;\nconst staticData = $getWorkflowStaticData('global');\nconst draftStr = staticData['draft_' + chatId];\n\nif (!draftStr) {\n  return 'ERREUR: Aucun brouillon trouve. Demandez a l utilisateur de creer un article d abord.';\n}\n\nconst article = JSON.parse(draftStr);\n\n// Step 1: Get current fallback-data.ts from GitHub\nconst ghUser = $env.GITHUB_USERNAME || 'ProjectView';\nconst ghRepo = $env.GITHUB_REPO || 'site-projectview';\nconst ghBranch = $env.GITHUB_BRANCH || 'main';\nconst ghToken = $env.GITHUB_TOKEN;\n\nif (!ghToken) {\n  return 'ERREUR: Variable GITHUB_TOKEN non configuree dans n8n.';\n}\n\nconst getFileResponse = await fetch(\n  `https://api.github.com/repos/${ghUser}/${ghRepo}/contents/lib/fallback-data.ts?ref=${ghBranch}`,\n  {\n    headers: {\n      'Authorization': `Bearer ${ghToken}`,\n      'Accept': 'application/vnd.github.v3+json',\n      'User-Agent': 'n8n-projectview-blog'\n    }\n  }\n);\n\nif (!getFileResponse.ok) {\n  const err = await getFileResponse.text();\n  return 'ERREUR GitHub (get file): ' + getFileResponse.status + ' - ' + err.substring(0, 200);\n}\n\nconst fileData = await getFileResponse.json();\nconst fileContent = Buffer.from(fileData.content, 'base64').toString('utf-8');\nconst sha = fileData.sha;\n\n// Step 2: Inject article into articles array\nconst newArticle = `  {\n    title: ${JSON.stringify(article.title)},\n    slug: ${JSON.stringify(article.slug)},\n    excerpt: ${JSON.stringify(article.excerpt)},\n    content: ${JSON.stringify(article.content)},\n    category: ${JSON.stringify(article.category)},\n    categorySlug: ${JSON.stringify(article.categorySlug)},\n    date: ${JSON.stringify(article.date)},\n    author: ${JSON.stringify(article.author)},\n    authorBio: ${JSON.stringify(article.authorBio)},\n    readTime: ${JSON.stringify(article.readTime)},\n  }`;\n\nconst marker = 'export const articles: Article[] = [';\nconst insertIdx = fileContent.indexOf(marker);\nif (insertIdx === -1) {\n  return 'ERREUR: Impossible de trouver le tableau articles dans fallback-data.ts';\n}\n\nconst bracketIdx = fileContent.indexOf('[', insertIdx);\nconst before = fileContent.slice(0, bracketIdx + 1);\nconst after = fileContent.slice(bracketIdx + 1);\nconst updatedContent = before + '\\n' + newArticle + ',' + after;\nconst encodedContent = Buffer.from(updatedContent).toString('base64');\n\n// Step 3: Commit to GitHub\nconst commitResponse = await fetch(\n  `https://api.github.com/repos/${ghUser}/${ghRepo}/contents/lib/fallback-data.ts`,\n  {\n    method: 'PUT',\n    headers: {\n      'Authorization': `Bearer ${ghToken}`,\n      'Accept': 'application/vnd.github.v3+json',\n      'Content-Type': 'application/json',\n      'User-Agent': 'n8n-projectview-blog'\n    },\n    body: JSON.stringify({\n      message: `blog: add \"${article.title}\" [auto-published via Telegram]`,\n      content: encodedContent,\n      sha: sha,\n      branch: ghBranch\n    })\n  }\n);\n\nif (!commitResponse.ok) {\n  const err = await commitResponse.text();\n  return 'ERREUR GitHub (commit): ' + commitResponse.status + ' - ' + err.substring(0, 200);\n}\n\n// Step 4: Trigger Netlify deploy\nconst netlifyHook = $env.NETLIFY_BUILD_HOOK || '';\nif (netlifyHook) {\n  await fetch(netlifyHook, { method: 'POST' });\n}\n\n// Step 5: Clean up draft\ndelete staticData['draft_' + chatId];\n\nreturn 'Article publie avec succes! Titre: \"' + article.title + '\". URL: projectview.fr/blog/' + article.slug + '. Le site se redeploie, l article sera en ligne dans 1-2 minutes.';"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000021",
      "name": "Publish Article Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1060, 560],
      "notes": "Custom code tool: retrieves draft, fetches fallback-data.ts from GitHub, injects article, commits, triggers Netlify deploy, cleans up. Needs env vars: GITHUB_TOKEN, GITHUB_USERNAME, GITHUB_REPO, NETLIFY_BUILD_HOOK."
    },
    {
      "parameters": {
        "name": "cancel_draft",
        "description": "Supprime le brouillon en cours. Appelez cet outil quand l'utilisateur veut annuler l'article en cours de redaction. Aucun parametre requis.",
        "jsCode": "// Cancel draft tool — removes stored draft from static data\n// IMPORTANT: toolCode must return a plain string, NOT an object/array\nconst chatId = $('Prepare Input').item.json.chatId;\nconst staticData = $getWorkflowStaticData('global');\nconst draftKey = 'draft_' + chatId;\n\nif (!staticData[draftKey]) {\n  return 'Aucun brouillon a supprimer. Envoyez un sujet pour commencer un nouvel article.';\n}\n\ndelete staticData[draftKey];\nreturn 'Brouillon supprime avec succes. L utilisateur peut envoyer un nouveau sujet.';"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000022",
      "name": "Cancel Draft Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1240, 560],
      "notes": "Custom code tool: simply deletes the stored draft from n8n static data."
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          { "node": "Prepare Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          { "node": "AI Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          { "node": "Send Telegram Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          { "node": "AI Agent", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          { "node": "AI Agent", "type": "ai_memory", "index": 0 }
        ]
      ]
    },
    "Save Draft Tool": {
      "ai_tool": [
        [
          { "node": "AI Agent", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Publish Article Tool": {
      "ai_tool": [
        [
          { "node": "AI Agent", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Cancel Draft Tool": {
      "ai_tool": [
        [
          { "node": "AI Agent", "type": "ai_tool", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "errorWorkflow": ""
  },
  "staticData": {},
  "tags": [
    { "name": "blog" },
    { "name": "telegram" },
    { "name": "ai-agent" },
    { "name": "netlify" },
    { "name": "git" }
  ]
}
